<dic class="col-md-8 col-center">
<div class="panel panel-info">
<div class="panel-heading">
    <h2>新增工作機會</h2>
    <hr>     
  </div>   
    <%= render "form" %>
    <%= link_to("回首頁", root_path ,  class: "btn btn-primary pull-right")%>
</div>
</div>