<div class="col-md-12">

<h2><%= @jobs.title %> </h2>
<p><%= render_jobs_description(@jobs) %></p>
<table class="table">
<thead>
<tr>
<div class="text-center">
  <%= link_to("投交履歷", new_job_resume_path(@jobs), style: "font-size: 30px; text-decoration: underline;") %>
</div>
</tr>
</thead>
<tbody>

</tbody>
</table>
<%= link_to "回首頁", root_path,  class: "btn btn-primary pull-right" %>
</div>
