<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">60k Offer</h1>
      <p class="slogan">60k Offer 是一个提供60k薪水工作機會的求職網站。
        <br>
        我們希望藉由這個網站能讓大家找到且應徵上高薪優職的工作。        
        <br>        
        憑藉自己的努力和天份也會變 Winner
      </p>
      <p class="lead">
        <%= link_to '馬上應徵', jobs_path, class: 'btn btn-danger' %>
      </p>
    </div>
  </div>
</div>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">找工作一定要帶手機</h2>
        <p class="lead">沒帶手機無法聯絡</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">履歷寫好再投遞</h2>
        <p class="lead">履歷如果不會寫一定要上網尋求協助  <a target="_blank" href="http://gregyang.logdown.com/">Greg 的 Blog</a>! 啦啦啦啦啦啦啦</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">請努力嘗試<br>Try it</h2>
        <p class="lead">大家一起加油吧<a target="_blank" href="http://gregyang.logdown.com/">一起討論</a></p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>