<div class="col-md-12">

<h2><%= @jobs.title %> </h2>
<p><%= render_jobs_description(@jobs) %></p>
<table class="table">
<thead>
<tr>

</tr>
</thead>
<tbody>

</tbody>
</table>
<%= link_to "回首頁", admin_jobs_path,  class: "btn btn-primary pull-right" %>
</div>
